* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

/* MAIN BAR */
window#waybar {
  background: rgba(20, 22, 30, 0);
  border-radius: 18px;
  /* border: 1px solid rgba(122, 162, 247, 0.15); */
  color: #c0caf5;
}

#custom-logo {
  font-size: 24px;
  padding: 4px 22px 4px 12px;
  background: rgba(122, 162, 247, 0.5);
  border-radius: 18px 18px 18px 18px;
}

/* WORKSPACES */
#workspaces {
  margin: 1px 7px;
}

#workspaces button {
  padding: 4px 10px;
  margin: 7px 3px;
  border-radius: 13px;
  color: #c0caf5;
  background: transparent;
}

#workspaces button.active {
  border-radius: 33%;
  padding-right: 8px;
  border-top: 2px solid rgba(122, 162, 247, 0.5);
  border-bottom: 2px solid rgba(122, 162, 247, 0.5);
  /* background: rgba(122, 162, 247, 0.5); */
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(122, 162, 247, 0.15);
}

/* MODULES */
#custom-media,
#clock,
#battery,
#network,
#backlight,
#pulseaudio,
#custom-system,
#idle_inhibitor {
  font-size: 14px;
  padding: 0 10px;
  margin: 7px 1px;
  border-radius: 13px;
  background-color: rgba(46, 52, 64, 0.2);
}

#cpu,
#memory,
#temperature {
  padding: 0 10px;
  margin: 7px 1px;
}

@keyframes blink {
  to {
    background: rgba(255, 255, 255, 0.04);
  }
}

#battery.critical:not(.charging) {
  background-color: #990000;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  border-top: 2px solid rgba(122, 162, 247, 0.5);
  border-bottom: 2px solid rgba(122, 162, 247, 0.5);
  background: rgba(122, 162, 247, 0);
  margin-right: 8px;
}

#custom-system {
  border-radius: 50%;
  padding-right: 8px;
  padding-left: 13px;
  background: rgba(122, 162, 247, 0.5);
}

#idle_inhibitor {
  border-radius: 50%;
  padding-right: 9px;
  padding-left: 12px;
  background: rgba(122, 162, 247, 0.5);
}

#privacy,
#tray {
  padding: 0 10px;
  margin: 7px 0;
  border: 2px solid #81a1c1;
  border-radius: 12px;
  background-color: rgba(46, 52, 64, 0.3);
}

#privacy-item,
#tray-item,
#tray>.passive,
#tray>.active,
#tray>.needs-attention {
  padding: 0;
}

#privacy-item.audio-in {
  color: #a3be8c;
}

#privacy-item.camera {
  color: #bf616a;
}

#privacy-item.screenshare {
  color: #88c0d0;
}

tooltip {
  background: rgba(122, 162, 247, 0.5);
  border: none;
  border-radius: 10px;
}

tooltip label {
  color: #c0caf5;
  padding: 8px;
}
