* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

/* MAIN WINDOW */
window {
  margin: 0px;
  background-color: rgba(46, 52, 64, 0.78);
  border: 1px solid rgba(94, 129, 172, 0.45);
  border-radius: 24px;
}


#scroll {
  margin: 5px;
  border: none;
}

scrollbar {
  opacity: 0;
}

scrollbar slider {
  min-width: 0;
  min-height: 0;
  background: transparent;
  border: none;
}

/* SEARCH BOX */
#input {
  margin: 15px;
  padding: 12px;

  background-color: rgba(59, 66, 82, 0.45);
  border: 1px solid rgba(94, 129, 172, 0.35);
  border-radius: 18px;

  color: #ECEFF4;

  box-shadow: none;
}

#input:focus {
  border-color: rgba(129, 161, 193, 0.8);
}

/* CONTAINERS */
#outer-box {
  margin: 0px;
  border: none;
  background: transparent;
}

#inner-box {
  margin: 8px;
  border: none;
  background: transparent;
}

#scroll {
  margin: 5px;
  border: none;
}

/* ENTRY */
#entry {
  padding: 11px;
  margin: 2px 0px;

  border-radius: 18px;

  background: transparent;
  color: #D8DEE9;

  transition: all 0.15s ease;
}

/* HOVER */
#entry:hover {
  background-color: rgba(94, 129, 172, 0.12);
}

/* SELECTED */
#entry:selected {
  background: linear-gradient(
    90deg,
    rgba(94, 129, 172, 0.75),
    rgba(129, 161, 193, 0.75)
  );

  color: #ECEFF4;
}

/* TEXT */
#text {
  margin: 3px;
}

/* ICON */
#img {
  margin-right: 10px;
}
